.window {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.heading {
  background-color: var(--accent_color);
  color: var(--text_color_contrast);
  text-align: center;
  width: calc(100% + 48px);
  margin: -24px -24px 0;
  padding: 16px 0;
  border-top-left-radius: var(--window_border_radius);
  border-top-right-radius: var(--window_border_radius);
  transition: all 0.3s;
}

.window > form {
  display: flex;
  gap: 14px;
  width: 260px;
  flex-direction: column;
  align-items: center;
}

.window label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.2rem;
}

.window > form input {
  background-color: var(--window_bg_color);
  color: var(--text_color_primary);
  width: 100%;
  font-size: 1.3rem;
  display: block;
  border: 2px solid var(--accent_color);
  border-radius: 4px;
  padding: 8px 10px;
  outline: 1px solid transparent;
  transition: all 0.65s;
}

.window > form input:focus {
  outline: 1px solid var(--accent_color);
}

.window > form > button {
  background-color: var(--accent_color);
  color: var(--text_color_contrast);
  font-size: 1.3rem;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 20px 0 0;
  cursor: pointer;
  outline: 1px solid transparent;
  transition: all 0.3s;
}

.window > form > button.disabled {

}

.window > form button:active {
  transform: scale(0.975);
}

.random_book_btn {
  background-color: transparent !important;
  padding: 0 !important;
  margin: -6px 0 0 !important;
  font-size: 0.8rem !important;
  color: var(--text_color_secondary) !important;
}

@media (hover: hover) {

  .random_book_btn:hover {
    color: var(--text_color_primary) !important;
  }
}

@media (hover: none) {

}

@media (max-width: 1050px) {
  .window {
    width: calc(100% - 60px);
  }

  .window label {
    margin: 0 auto;
    width: 90%;
  }

  .window form {
    margin: 0 auto;
    width: calc(100%);
  }

  .window > form input {
    box-sizing: border-box;
  }
}
