.window {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
}

.window > form {
  display: flex;
  gap: 14px;
  width: 260px;
  flex-direction: column;
  align-items: center;
}

.window label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.2rem;
}

.window > form input {
  width: 100%;
  font-size: 1.3rem;
  display: block;
  border: 2px solid var(--text_color_secondary);
  border-radius: 6px;
  padding: 8px 10px;
  outline: 1px solid transparent;
  transition: all 0.3s;
}

.window > form input:focus {
  outline: 1px solid var(--accent_color);
}

.window > form button {
  background-color: var(--accent_color);
  color: var(--text_color_contrast);
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 20px 0 0;
  cursor: pointer;
  outline: 1px solid transparent;
  transition: all 0.3s;
}

.window > form button:focus {
  box-shadow: var(--window_shadow);
  outline: 1px solid var(--accent_color);
}

@media (hover: hover) {
  .window > form button:hover {
    background-color: var(--accent_color_darker);
  }
}

@media (hover: none) {
  .window > form button:active {
    background-color: var(--accent_color_darker);
  }
}

@media (max-width: 1050px) {
  .window {
    width: calc(100% - 60px);
  }

  .window label {
    margin: 0 auto;
    width: 90%;
  }

  .window form {
    margin: 0 auto;
    width: calc(100%);
  }

  .window > form input {
    box-sizing: border-box;
  }
}