.ui {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--text_color_primary);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.25s;
}

.ui:active {
  transform: scale(0.9);
}

.ui:active {
  transform: scale(0.9);
}

.is_favorite {
  color: var(--fav_color);
}

.bookmark_book:active {
  color: var(--fav_color);
  transform: scale(0.95) !important;
}

.delete_book:active {
  color: var(--delete_color);
  transform: scale(0.95) !important;
}

@media (hover: hover) {
  .ui:hover {
    transform: scale(1.1);
  }

  .bookmark_book:hover {
    color: var(--fav_color);
  }

  .delete_book:hover {
    color: var(--delete_color);
  }
}
