.ui {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--text_color_contrast);
  border: none;
  cursor: pointer;
  font-size: 2.3rem;
  transition: all 0.65s;
}

.ui:active {
  transform: scale(0.85);
}

.ui:focus {
}

.r180 {
  transform: rotate(180deg);
}

.r0 {
  transform: rotate(0deg);
}
