.app {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.wrapper-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.book-list, .form, .search-bar {
  background-color: var(--window_bg_color);
  border-radius: var(--window_border_radius);
  box-shadow: var(--window_shadow);
  padding: var(--window_padding);
}

@media (max-width: 1050px) {
  .wrapper {
    width: 100vw;
    flex-direction: column;
  }
}