@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg_color: #EFEDF5;
  --window_bg_color: #FFFFFF;
  --accent_color: #211D31;
  --accent_color_darker: #1A1824;
  --selection_color: #e1e1da;

  --text_color_primary: #1A1824;
  --text_color_secondary: #666666;
  --text_color_contrast: var(--window_bg_color);

  --delete_color: #F24940;
  --accept_color: #42B576;
  --fav_color: #F2A622;

  --window_border_radius: 10px;
  --window_padding: 24px 12px;
  --window_shadow: 0 0 50px -20px rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--bg_color);
  color: var(--text_color_primary);
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}