@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg_color: #323232;
  --darker_bg_color: #212121;
  --window_bg_color: #eef6f0;
  --accent_color: #14FFEC;
  --accent_color_darker: #0D7377;
  --selection_color: #cbd2cd;

  --text_color_primary: #212121;
  --text_color_secondary: #323232;
  --text_color_header: var(--window_bg_color);

  --delete_color: #d00b0b;
  --accept_color: #1ddc00;
  --fav_color: #dcb803;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg_color);
  color: var(--text_color_primary);
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}