.header {
  background-color: var(--accent_color);
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: var(--text_color_contrast);
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 5px;
  user-select: none;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

@media (max-width: 650px) {
  .header h1 {
    font-size: 2rem;
  }
}