li {
  display: flex;
  align-items: center;
  margin-bottom: -2px;
}

.wrapper {
  display: flex;
  flex: 1;
  margin: 0 -24px;
  padding: 24px;
  transition: all 0.2s;
  border-top: 2px solid var(--selection_color);
  font-size: 1.3rem;
}

.info {
  width: 70%;
}

.last_child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapper:hover {
  background-color: var(--selection_color);
}

.wrapper p {
  display: inline;
}

.title {
  font-size: 1.6rem;
}

.author {
  font-weight: 500;
  font-size: 1.6rem;
}

.index {
  font-weight: 500;
}